.loginpage {
  height: 100vh;
  background: linear-gradient(to right, #176D81 50%, #71ADB5 50%);
}

.passpage {
  height: 100vh;
  background: #71ADB5;
}

.home{
  height: 60vh;
  background: linear-gradient(to right, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 50%), url("../public/homebook.png");
  background-size: cover;
}

